@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Garbage Day</h1>
    <p class="lead">Garbage Day is a free website which allows customers to set their own pickup date for their trash collection. As a
    user, you are responsible for your payments and notification of when you'd like your trash pickup to be. As a trash collector, it's your
    job to know the area code you're servicing and work your way around for your daily pickups.</p>
</div>
